html,
body {
    min-height: 90vh;
    width: 100%;
}

.canvas {
    max-width: 100%;
    max-height: 100%;
}

.md-button {
    min-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 20px;
}

.slider {
    padding: 20px;
    max-width: 300px;
}

.domino {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.md-thumb-container,.md-track-container {
    cursor: pointer;
}
.md-thumb-text{
    user-select: none;
}